<footer>
    <p>&copy; <%= new Date().getFullYear() %> George Westinghouse Career & Technical Education High School. All rights reserved.</p>
    <p>Contact us: <a href="mailto:info@westinghousehs.edu">info@westinghousehs.edu</a></p>
</footer>