<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Academics</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/css/header.css">
</head>
<body>
    <%- include('../layouts/header') %>
    <main>
        <h2>Academics at George Westinghouse Career & Technical Education High School</h2>
        <p>Explore our diverse academic programs designed to prepare students for successful careers.</p>
        <section>
            <h3>Academic Programs</h3>
            <ul>
                <li>Computer Science</li>
                <li>Electrical</li>
                <li>Culinary</li>
                <li>STEAM</li>         
            </ul>
        </section>
    </main>
    <%- include('../layouts/footer') %>     
</html>