<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/css/header.css">
</head>
<body>
    <header id="gHouseHeader">
      
    </header>
    <main>
        <section>
                <nav class="contact-nav">
                    <ul>
                        <li>
                            <a href="https://instagram.com/your_instagram" target="_blank" aria-label="Instagram">
                                <img src="/public/js/images/content/instagram.svg" alt="Instagram"> Instagram
                            </a>
                        </li>
                        <li>
                            <a href="tel:+1234567890" aria-label="Phone">
                                <img src="/public/js/images/content/phone.svg" alt="Phone"> (123) 456-7890
                            </a>
                        </li>
                        <li>
                            <a href="mailto:info@westinghousehs.edu" aria-label="Email">
                                <img src="/public/js/images/content/mail.svg" alt="Mail"> info@westinghousehs.edu
                            </a>
                        </li>
                    </ul>
                </nav>
        </section>
    </main>
    <footer id="gHouseFooter">
        
    </footer>
</body>
</html>