<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/styles.css">
    <link rel="stylesheet" href="/public/css/header.css">
</head>
<body>
    <%- include('../layouts/header') %>
    <main>
        <h2>Welcome to George Westinghouse Career & Technical Education High School</h2>
        <p>Your gateway to a bright future in career and technical education.</p>
        <section>
            <h3>About Us</h3>
            <p>George Westinghouse CTE High School is dedicated to providing students with the skills and knowledge needed to succeed in today's competitive job market.</p>
        </section>
        <section>
            <h3>Our Programs</h3>
            <ul>
                <li>Computer Science</li>
                <li>Electrical</li>
                <li>Culinary</li>
                <li>STEAM</li>         
            </ul>
        </section>
    </main>
    <%- include('../layouts/footer') %>
</body>
</html>